# aliases used for cs50

alias cc='gcc -Wall -pedantic -std=c11 -ggdb'
alias valgrind='valgrind --leak-check=full --show-leak-kinds=all'

# safety aliases
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# convenience aliases
alias ls='ls -F --color=auto'
alias mkdir='mkdir -p'
alias which='type -all'
alias du='du -kh'
alias df='df -kTh'
alias cl='clear'

#Custom Aliases:
alias la="ls -la"
alias za="zathura"                       # pdf reader
alias rmd="pandoc $1 -t pdf | zathura -" # render markdowm
alias wx="curl wttr.in/?0"               # weather
alias bm="bashmount"                     # mounting script
alias mutt="neomutt"
alias lm="latexmk -pdf $1 && latexmk -c $1"

# school aliases
alias greenprint="neomutt -a $@ -- GreenPrint@dartmouth.edu"

